doctype html
html(lang='en')
    head
        title Landing Page!
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        h1(classname='title') This is the landing page!!
        img(src='/assets/images/webpackimg.png', alt='webpack image')
